/*################################# Cover Pincipale  #################################*/
h1 {
  font-family: Merienda one, sans-serif;
  color: white;
  text-align: center;
  font-size: 34px;
}

/*------- Box -------*/
.cover {
  background: url(../img/cover_overlay.png) no-repeat center/100% 100%, url(../img/cover.jpg) no-repeat center/cover;
}

img.cover-profile {
  -ms-grid-column-align: center;
      justify-self: center;
  background: orange;
  background-size: cover;
  background-position: 8px -3px;
  -webkit-box-shadow: 0 15px 50px #968f8f;
          box-shadow: 0 15px 50px #968f8f;
}

.gauche {
  background: rgba(196, 196, 196, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.droit {
  background: #6C829D;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itemGauche,
.clipPath {
  background: rgba(196, 196, 196, 0.35);
}

.clipPath {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.dropdown-menu.show {
  display: block;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  margin: 10px 0;
}

@media (min-width: 1024px) and (max-width: 1525px){
  .gauche {
    width: 315px;
  }
  .droit {
    width: 705px;
  }
}
/* @media (min-width: 1425px) {
  .gauche {
      width: 410px;
  }
} */