*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

/*################################# Cover Pincipale  #################################*/
h1 {
  font-family: Merienda one, sans-serif;
  color: white;
  text-align: center;
  font-size: 34px;
}

/*------- Box -------*/
.cover {
  background: url(../img/cover_overlay.png) no-repeat center/100% 100%, url(../img/cover.jpg) no-repeat center/cover;
}

img.cover-profile {
  height: 153px;
  background: orange;
  background-size: cover;
  background-position: 8px -3px;
  -webkit-box-shadow: 0 15px 50px #968f8f;
          box-shadow: 0 15px 50px #968f8f;
}

.gauche {
  background: rgba(196, 196, 196, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.droit {
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itemGauche,
.clipPath {
  background: rgba(196, 196, 196, 0.35);
}

.clipPath {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}


.dropdown-menu.show {
	display: block;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 28px;
}