/*################################# Cover Pincipale  #################################*/
h1 {
    font-family: Merienda one, sans-serif;
    color: white;
    text-align: center;
    font-size: 34px;
}

/*------- Box -------*/
.cover {
    background: url(../img/cover_overlay.png) no-repeat center/100% 100%,url(../img/cover.jpg) no-repeat center/cover;
}

img.cover-profile {
    // height: 153px;

    justify-self: center;

    background: orange;
    // background:url(profile.png);
    background-size: cover;

    background-position: 8px -3px;
    box-shadow: 0 15px 50px rgba(150, 143, 143,1);
}

.gauche{
    background: rgba(196, 196, 196, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.droit{
    background: #6C829D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itemGauche, 
.clipPath{
    background: rgba(196, 196, 196, 0.35);
}

.clipPath {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    
}